# Importing QS Access Data

Workbook create by Martin Gossow. Some of the code is borrowed or modified from Serena's *Metric Analysis* notebook.

### Driving Question

Develop a pipeline that allows us to input data from a QSAccess CSV file and output a dataframe that gives the date, starting hour and number of steps for each of these hour slots. We also establish a standard format for which the analysis can be run.

### Setting up Packages and Filename

In [14]:
#Import required packages
import numpy as np
import pandas as pd
from datetime import datetime

In [15]:
#File path for csv file
FILEPATH = "../../data/Participant_ID_A/User1.csv"

### Reading the Data

We us the pandas `read_csv` function which converts the file straight into a dataframe.

In [16]:
dat = pd.read_csv(FILEPATH)
dat.head(8)

               Start             Finish  Steps (count)
0  07-Dec-2014 09:00  07-Dec-2014 10:00          941.0
1  07-Dec-2014 10:00  07-Dec-2014 11:00          408.0
2  07-Dec-2014 11:00  07-Dec-2014 12:00          157.0
3  07-Dec-2014 12:00  07-Dec-2014 13:00         1017.0
4  07-Dec-2014 13:00  07-Dec-2014 14:00            0.0
5  07-Dec-2014 14:00  07-Dec-2014 15:00            0.0
6  07-Dec-2014 15:00  07-Dec-2014 16:00          137.0
7  07-Dec-2014 16:00  07-Dec-2014 17:00            0.0

### Formatting the Data

There are some things we need to fix up. We want to change the column `Steps (count)` to `Steps`. We also want to extract the `Start` column into datetime format, and extract the date and hour.

In [17]:
dat["Datetime"] = pd.to_datetime(dat["Start"], format = '%d-%b-%Y %H:%M')
dat["Date"] = dat["Datetime"].dt.date
dat["Hour"] = dat["Datetime"].dt.hour
dat.head(8)

,Start,Finish,Steps (count),Datetime,Date,Hour
0,07-Dec-2014 09:00,07-Dec-2014 10:00,941.0,2014-12-07 09:00:00,2014-12-07,9
1,07-Dec-2014 10:00,07-Dec-2014 11:00,408.0,2014-12-07 10:00:00,2014-12-07,10
2,07-Dec-2014 11:00,07-Dec-2014 12:00,157.0,2014-12-07 11:00:00,2014-12-07,11
3,07-Dec-2014 12:00,07-Dec-2014 13:00,1017.0,2014-12-07 12:00:00,2014-12-07,12
4,07-Dec-2014 13:00,07-Dec-2014 14:00,0.0,2014-12-07 13:00:00,2014-12-07,13
5,07-Dec-2014 14:00,07-Dec-2014 15:00,0.0,2014-12-07 14:00:00,2014-12-07,14
6,07-Dec-2014 15:00,07-Dec-2014 16:00,137.0,2014-12-07 15:00:00,2014-12-07,15
7,07-Dec-2014 16:00,07-Dec-2014 17:00,0.0,2014-12-07 16:00:00,2014-12-07,16

We've extracted the date (as a datetime object) and the hour. Now we remove the columns that are no longer needed and rename the columns as required.

In [18]:
#Extract needed columns
dat = dat[["Date", "Hour", "Steps (count)"]]
#Rename columns
dat.columns = ["Date", "Hour", "Steps"]

### Displaying the dataframe

Finally, we display the dataframe in its final standardised format.

In [19]:
dat.head(10)

         Date  Hour   Steps
0  2014-12-07     9   941.0
1  2014-12-07    10   408.0
2  2014-12-07    11   157.0
3  2014-12-07    12  1017.0
4  2014-12-07    13     0.0
5  2014-12-07    14     0.0
6  2014-12-07    15   137.0
7  2014-12-07    16     0.0
8  2014-12-07    17    33.0
9  2014-12-07    18     0.0

### Putting everything together

We define a single function that takes in the filename and outputs the cleaned filedata. All the code is simply taken from the above cells.

In [20]:
def read_QS_data(filename):
    #Read in CSV file
    dat = pd.read_csv(filename)
    #Extract datetime information
    dat["Datetime"] = pd.to_datetime(dat["Start"], format = '%d-%b-%Y %H:%M')
    dat["Date"] = dat["Datetime"].dt.date
    dat["Hour"] = dat["Datetime"].dt.hour
    #Format columns
    dat = dat[["Date", "Hour", "Steps (count)"]]
    dat.columns = ["Date", "Hour", "Steps"]
    
    return dat

In [21]:
 x = read_QS_data(FILEPATH)

Now we are going to apply our adherence measure

In [22]:
# 10 hours of non zeroes 
def adherence_check1(df):
    df1 = df.copy()
    df1['Not Zero'] = df1['Steps'] > 0
    df1 = df1.groupby('Date').sum()
    df1 = df1['Not Zero'] > 10 
    return df1

In [23]:
#Greater than 500 steps
def adherence_check2(df,min):
    df1 = df.copy()
    df1 = df1.groupby('Date').sum()
    df1 = df1['Steps']> min
    return df1

In [29]:
#Active in 3 time blocks 
def adherence_check3(df):
    df1 = df.copy()
    bins = [-1,2,10,14,25,np.inf]
    names = ['3','1','2', '3', '3']
    df1['3timeblock'] = pd.cut(df1['Hour'], bins, labels = names, ordered = False)
    df1 = df1.groupby(['Date','3timeblock'], as_index=False)['Steps'].sum()
    df1['Steps within timeblock'] = df1['Steps']> 0 
    df1 = df1.groupby('Date').sum()
    df1 = df1['Steps within timeblock'] ==3 
    return df1

In [30]:
#Combining it all into 1 dataframe
def three_method_table(x):
  valid_1= adherence_check1(x)
  valid_2= adherence_check2(x,500)
  valid_3= adherence_check3(x)
  result = pd.concat([valid_1,valid_2,valid_3], axis=1, join='inner')
  result.reset_index(level=0, inplace=True)
  result.columns = ["Date", "10 Hours Non Zero","Steps > 500","3 Timeblock"]
  result['All 3 True'] = result["3 Timeblock"]&result["10 Hours Non Zero"]&result["Steps > 500"]
  result_sum = result.sum()
  return result , result_sum

In [31]:
df_whole = three_method_table(x)[0]
df_sum = three_method_table(x)[1]
df_sum_pct = df_sum/len(df_whole)
print(df_whole)
print("")
print(df_sum)
print("")
print(df_sum_pct)
print("")

            Date  10 Hours Non Zero  Steps > 500  3 Timeblock  All 3 True
0     2014-12-07              False         True         True       False
1     2014-12-08               True         True         True        True
2     2014-12-09              False         True         True       False
3     2014-12-10              False         True         True       False
4     2014-12-11              False         True        False       False
...          ...                ...          ...          ...         ...
1749  2019-09-21              False         True        False       False
1750  2019-09-22              False         True        False       False
1751  2019-09-23              False         True         True       False
1752  2019-09-24              False         True        False       False
1753  2019-09-25              False        False        False       False

[1754 rows x 5 columns]

10 Hours Non Zero     459
Steps > 500          1533
3 Timeblock           985
All 3 True            419
dtype: int64

10 Hours Non Zero    0.261688
Steps > 500          0.874002
3 Timeblock          0.561574
All 3 True           0.238883
dtype: float64